ul{
	list-style-type: none;
}

li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
 }


.nav{
	float: right;
	margin-top:10px;
	margin-right:10px;
	font-family: arial;
	font-size: 12px;
}

span{
	position: absolute;
	top: 260px;
	left: 590px;
	right: 0px;
	color:#777;
	font-weight: bold;
	font-family: arial;

}


#content{
	position: relative;
	top: 188px;
	left: 380px;

}

.apps {
    background-image: url("../images/sprite.png");
    background-position: -69px -854px;
    position:absolute;
    top:12px;
    left: 823px;
    width:30px;
    height:30px;
}

form{
	position:absolute;

	top: 310px;
	left: 240px;
	right: 0px;


}

.btn1{
	position: relative;
	top:255px;
	left:400px;	
}

.btn2{
	position: relative;
	top:255px;
	left:410px;	
}

button{
	border-radius: 2px;
	padding:5px;
	background-color: #F2F2F2;
	border:1px solid #D9D9D9;
	font-family: arial;
	font-size: 12px;
	color: #5E5E5E;
	font-weight: bold;
}