ul{
	list-style-type: none;
}

ul li:nth-child(4),ul li:nth-child(5),ul {min-width: 30px;min-height:30px}

li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px
 }


.nav{
	float: right;
	margin: 7px 15px 0px 0px;
}

#content{
	position: absolute;
	top: 190px;
	right: 975px;
}

.bell {
    background-image: url("../images/sprite.png");
    background-position: -69px -69px;
    position: absolute;
    width: 30px;
    height: 30px;
}

.apps {
    background-image: url("../images/sprite.png");
    background-position: -69px -854px;
    position: absolute;
    width: 30px;
    height: 30px;
}


.share {
	border-radius: 1px;
	background-color: #f4f4f4;
	padding: 7px 15px
 }